.container {
  padding: 1rem;
  margin: 0;
  background-color: #b762ff;
  background-image: linear-gradient(160deg, #b762ff, #0079ff, #ff0, #ff576f);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #698ef9;
  border: 1rem solid #000;
  min-height: calc(100vh - 4rem);
}
